<li class="menu-item">
    <NavLink class="menu-link" href="" Match="NavLinkMatch.All">
        <i class="menu-icon tf-icons ti ti-smart-home"></i>
        <div data-i18n="Home Page">الصفحة الرئيسية</div>
    </NavLink>
</li>